.App {
  text-align: center;
}

tbody tr {
  background-color: #bdc3c7;
}
tbody th {
  vertical-align:middle !important;
}
html body {
  background-color: #7598ca;
}

html .container {
  margin-top: 2%;
  margin-right: 2%;
  max-width: 95%;
}

.each-col {
  min-width: 20%;
  min-height: 200px;
}

.card {
  
  flex: 100px 1 0;
  border: solid 1px black;
  border-radius: 5px;
}

.each-card {
  margin-bottom: -50%;
}

.add-event {
  max-width: 25%;
  margin: auto;
}

.radio-button-left {
  float: left;
  margin-left: 5rem;
}
.radio-button-right {
  margin-left: 1rem;
}

.submit-button {
  margin-top: 1rem;
  float: left;
}

html .MuiIcon-root-126 {
  width: 3em;
  height: 1.5em;
}

html .material-icons {
  line-height: 1.5;
}

.each-col button {
  display: table;
  margin: 1rem auto;
  max-width: 160px;
}
.alert {
  max-width: 180px;
}
html .jss126 {
  height: 1.5em;
}

.week-info button {
  padding: .1em;
}
.week-info {
  padding: .1em;
  display: inline-flex;
  float: left;
}
.event-detail {
  font-size: 15px;
  display: inline-flex;
  float: left;
}
form {
 float: inherit;
}
html .form-group {
  margin-bottom: 0px;
}
table td {
  table-layout:fixed;
  width:10%;
  overflow:hidden;
  word-wrap:break-word;
}

.event-detail {
  font-size: 1rem;
  float: left;
  margin: 0px;
  text-align: left;
  position: absolute;
  right: 0;
}

.event-detail button {
  margin: 0;
  margin-left: 50%;
  line-height: .5px;
}
